.button-sign {
  width: 100%;
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  background: #4285F4;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;
}

.button-sign:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: not-allowed;
}

.button-sign-up,
.button-sign-in {
  margin: auto 0 0;
}

.button-edit {
  max-height: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;  
  color: #FFF;
  text-align: center;
  font-size: 13px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.button-edit:disabled {
  color: #C2C2C2;
  cursor: not-allowed;
}

.button-more {
    display: flex;
    max-width: 1140px;
    width: 100%;
    height: 36px;
    margin: 0 auto 80px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;    
    box-sizing: border-box;
    align-items: center;
    justify-content: center;    
    border-radius: 6px;
    border: none;
    background: #2F2F2F;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;    
}
  
.button-like {
    display: block;
    width: 30px;
    height: 16px;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0; 
    box-sizing: border-box;
    border: 0;
    object-position: center;
    object-fit: cover;  
    background: transparent url(../../images/like.svg) no-repeat top / 14px;
    cursor: pointer;
    z-index: 2;
}
  
.button-like_active {
    background: transparent url(../../images/like-active.svg) no-repeat center/ 14px;
}

.button-delete {
    display: none;
    width: 30px;
    height: 16px;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0; 
    box-sizing: border-box;
    border: 0;
    object-position: center;
    object-fit: cover;  
    background: transparent url(../../images/delete.svg) no-repeat top / 14px;
    cursor: pointer;
    z-index: 2;
}

.button-delete_active {
    display: block;    
}

.button-close {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 0;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  position: absolute;
  width: 32px;
  height: 32px;
  top: calc(50% - 165px - 12px);
  right: calc(50% - 215px - 12px);
  background: transparent url(../../images/close.svg) no-repeat center / 32px;
  align-content: center;
  z-index: 11;
}

.button-sign:hover,
.button-sign:focus,
.button-sign:disabled:hover,
.button-edit:hover,
.button-edit:focus,
.button-edit:disabled:hover,
.button-more:hover,
.button-more:focus,
.button-like:hover,
.button-like:focus,
.button-like_active:hover,
.button-like_active:focus,
.button-delete:hover,
.button-delete:focus,
.button-delete_active:hover,
.button-delete_active:focus,
.button-close:hover,
.button-close:focus {
  opacity: .8;    
}

.search__submit {
  position: relative;
  top: 5px;
  right: 0;  
  width: 34px;
  height: 34px;
  margin: 0 6px 0 auto;
  border: none;
  border-radius: 50%;
  background: url(../../images/find.svg) right/34px no-repeat;
  cursor: pointer; 
  box-sizing: border-box;
  z-index: 2;    
}

  @media (max-width: 1230px) {
    .button-more {
      max-width: 708px;
    }
  }

  @media (max-width: 767px) {
    .button-sign {
      padding: 15px;
      font-size: 12px;
    }

    .button-sign-up {
      margin: 0;
    }

    .button-sign-in {
      margin: 0;
    }

    .button-edit {
      margin-top: 20px;
      font-size: 12px;
    }

    .button-more {
      max-width: 300px;
    }
  }

  
@media screen and (max-width: 540px) {
  .button-close {
    top: calc(50% - 170px);
    right: calc(50% - 141px);
    width: 20px;
    height: 20px;
    background-size: 20px;
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
  }
}