.form {
    display: flex;
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 70px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;    
}

.form_edit {
    max-width: 410px;
    padding: 0;
}

.form__title {
    margin: 0;
    padding: 0 0 40px;
    margin-block: 0;
    margin-inline: 0;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.form__title_edit {
    margin: 74px 0 123px;
    padding: 0;
    text-align: center;
}

.form__footer {
    display: flex;
    margin: 175px 0 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form__footer-edit {
    margin: 210px 0 70px;
}

.form__span {    
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
}

.form__link {
    padding: 0 0 0 6px;
    color: #4285F4;
    font-size: 14px;
    text-decoration: none;
}

.form__link:hover,
.form__link:focus {
    opacity: .7;    
  }

.form__link_out{
    padding-left: 0;
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.search {
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.search__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 40px;
    box-sizing: border-box;
}

@media (max-width: 1230px) {    
    .form {
        padding: 0;
    }
    .form_edit {
        margin: 236px auto 0;
    }
    .form__title_edit  {
        margin: 0 auto 97px;
    }

    .form__footer-edit {
        margin: 213px 0 70px;
    }

    .search {
        max-width: 708px;
    }
}

@media (max-width: 767px) {
    .form {
        padding: 0 30px;        
    }

    .form_edit {
        margin: 70px auto 0;
        padding: 0 30px;
    }

    .form__title {
        padding: 0 0 80px;
        text-align: center;
    }

    .form__title_edit {
        margin: 0;
    }

    .form__footer {
        position: sticky;
        margin: 175px 0 30px;
    }

    .form__footer-edit {
        margin: 345px 0 40px;
    }

    .form__span, .form__link {
        font-size: 12px;
    }

    .search {
        max-width: 292px;
    }
}