.about-project{
padding: 110px 0;
color: #FFF;
}
.about-project__list{
    max-width: 1140px;
    width: 100%;
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    margin: 0;
    padding: 70px 0 110px;
    margin-block: 0;
    margin-inline: 0;
    gap: 40px;
    list-style: none;
    align-items: center;
    box-sizing: border-box;
}
.about-project__item{
    text-align: left;
}
.about-project__subtitle{
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: 20px;
    letter-spacing: -0.8px;    
}
.about-project__description{
    margin: 0;
    padding: 26px 0 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
}
.table{
    max-width: 1140px;
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 4fr;    
}
.table__container{
    display: flex;
    row-gap: 14px;
    flex-direction: column;
    text-align: center;
}
.table__stage{
    font-size: 14px;
    padding: 9px 0;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    background: #303030;
}
.table__stage_span {
    color: #000;
    background: #3DDC84;
}
.table__description{
    margin: 0;
    padding: 0;
    color: #8B8B8B;    
    font-size: 14px;
    font-weight: 500;
    line-height: 17px; /* 121.429% */
}