.nav {
    display: flex;
    width: 100%;    
    box-sizing: border-box;
    
}

.nav__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.hamburger-button {
    display: none;
}
  
.nav__hamburger-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
}

.nav__hamburger-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
    display: flex;
    flex-direction: row;    
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.nav__link {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-self: center;
    box-sizing: border-box;
    color: #fff;
    text-align: right;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}

.nav__link:hover {
    opacity: .7;
}

.nav__link-main {
  display: none;
}

.nav__link-in {
    padding: 8px 20px;
    border-radius: 3px;
    background: #3DDC84;
    color: #000;
}

.nav__link-account {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: transparent;
    gap: 7px;
    padding: 3px;
}

.nav__link-text {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-left: 8px;
    font-weight: 500;
}

.nav__link-icon {
    max-width: 26px;
    max-height: 26px;
    margin: 0;
    border-radius: 50%;
    box-sizing: border-box;
}

.after-auth {
    gap: 16px;
}

.before-auth {
    gap: 30px;
    font-weight: 500;
    margin-left: auto;
}

@media (max-width: 1230px) {
  .hamburger {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 44px;
    height: 44px;
    z-index: 11;
    cursor: pointer;
  }
  
  .hamburger:hover,
  .hamburger:focus {
    opacity: .8;  
  }

  .hamburger__line {
    display: block;
    position: relative;
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin-top: 10px;
    transition: all .3s ease-in-out;
  }

  .hamburger__line-top {
    margin: 10px auto 0;
  }

  .hamburger__line-middle {
    margin: 7px auto;
  }

  .hamburger__line-bottom {
    margin: 0 auto 10px;
  }

  .nav__hamburger-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100%; right: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    transform: scale(0);
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
  }

  .nav__hamburger-list {
    display: flex;
    width: 68vw;
    height: 100vh;
    margin: 0 0 0 auto;
    padding: 159px 0 90px;
    flex-direction: column;    
    align-items: center;
    background: #202020;    
  }

  .nav__container {
    display: flex;
    width: 100%;
    gap: 33px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .before-auth {
    gap: 30px;
    justify-content: flex-end;
    flex-direction: row;
  }

  .nav__hamburger-container .nav__item {
    position: relative;
    transition: color .2s ease-in-out;
  }

  .hamburger-button:checked + .hamburger .hamburger__line-top {
    width: 30px;
    transform: rotate(-45deg);
    margin: 0;
    margin-top: 20px;
    margin-left: 6px;
  }

  .hamburger-button:checked + .hamburger .hamburger__line-middle {    
    opacity: 0;
  }

  .hamburger-button:checked + .hamburger .hamburger__line-bottom {
    width: 30px;
    transform: rotate(45deg);
    margin-top: -20px;
  }

  .hamburger-button:checked + .hamburger + .nav__hamburger-container {
    top: 0;
    transform: scale(1);
  }

  .nav__link {
    font-size: 18px;
  }

    .nav__link-main {
    display: flex;
  }

  .nav__link-up, .nav__link-in {
    font-size: 12px;
  }

  .nav__link_account {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .hamburger {
    right: 23px;
    width: 23px;
    height: 43px;
  }

  .hamburger__line {
    width: 23px;
  }

  .hamburger-button:checked + .hamburger .hamburger__line-top {
    width: 26px;
    margin-left: 0;
  }

  .hamburger-button:checked + .hamburger .hamburger__line-bottom {
    width: 26px;
  }

  .nav__container {
    height: fit-content;
    font-size: 18px;
    gap: 31px;
  }

  .nav__link-account {
    font-size: 13px;
    margin: auto 0 46px;
    position: sticky;
  }
  
  .nav__link-up, .nav__link-in {
    font-size: 10px;
  }

  .nav__link-in {
    padding: 5px 12px;
  }

  .nav__hamburger-list {
    width: 100vw;
    padding: 144px 0 0;
  }
}