.elements {
    margin: 0;
    padding: 80px 0 60px;
    box-sizing: border-box;
    display: grid;
    grid: 1fr / repeat(3, 364px);
    gap: 37px 24px;
    justify-content: center;
  }

  .elements__span {
    grid-row: 1;
    grid-column: 1 / -1;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 20px;
  }

@media (max-width: 1230px) {
  .elements {
    grid: 1fr / repeat(2, 339px);
    gap: 30px;
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .elements {
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 76px;
    gap: 14px;
    flex-direction: column;
  }
}