.portfolio{
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 105px;
    padding: 0;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
}
.portfolio__title{
    margin: 0;
    padding: 0 0 30px;
    margin-block: 0;
    margin-inline: 0;
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.portfolio__list{
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    flex-direction: column;
    list-style: none;
    color: #FFF;
}
.portfolio__item{
    max-width: 1140px;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background: url(../../../images/arrow.svg) right/30px no-repeat content-box;
    box-sizing: border-box;
}
.portfolio__item-middle{
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
}
.portfolio__link{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    color: #FFF;
    font-size: 30px;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;    
    text-decoration: none;
    cursor: pointer;
}
