.element {
    display: grid;
    grid: 203px 78px / 364px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;    
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .08);
    object-fit: cover;    
  }

.element:hover, .element:focus {    
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, .3);
}
.element:hover > .element__caption > .button-delete, .element:focus > .element__caption > .button-delete {    
    display: block;
}

.element__cover {
    grid-row: 1;
    grid-column: 1;
    display: block;
    box-sizing: border-box;
    max-width: 364px;
    width: 100%;
    max-height: 203px;
    height: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    cursor: pointer;
}

.element__link {
    text-decoration: none;
    cursor: pointer;
}

.element__caption {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 16px 12px;
    margin-block: 0;
    margin-inline: 0;
    gap: 12px;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;        
    background-color: #222;
    justify-content: space-between;
    z-index: 1;
}

.element__caption-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.element__title {
    display: block;
    align-self: center;
    width: 90%;
    margin: 0;
    padding: 0 0 17px 0;
    margin-block: 0;
    margin-inline: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}

.element__duration {
    display: block;
    align-self: center;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}

@media (max-width: 1230px)  {
    .element {
        grid: 190px 72px / 339px;
    }
    .element__caption {
        gap: 21px;
    }

    .element__duration {
        font-weight: 400;
    }

    .element__cover {
        max-width: 339px;
        max-height: 190px;
    }
}

@media (max-width: 767px) {
    .element {
        grid: 168px 69px / 300px;
    }

    .element__cover {
        max-width: 300px;
        max-height: 237px;
    }
    .element__caption {
        gap: 6px;
        padding: 14px;
    }

    .element__title {
        padding: 0 0 14px 0;
        font-size: 12px;
    }

    .element__duration {
        font-size: 10px;
    }
}
