.about-me{
    max-width: 1140px;
    width: 100%;
    margin: 110px auto 101px;
    flex-direction: column;
    justify-content: space-between;
}
.about-me__container{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 66px 0 0;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: #fff;
    box-sizing: border-box;
}
.about-me__container-description {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}
.about-me__title{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
}
.about-me__subtitle{
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}
.about-me__description{
    margin: 0;
    margin-bottom: auto;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.about-me__link{    
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.about-me__photo{
    max-width: 270px;
    width: 100%;
    max-height: 327px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-sizing: border-box;
}